.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(29, 161, 242);
  color: white;
  margin-bottom: 10px;
}

.navbar-auth {
  display: flex;
  list-style-type: none;
}

.nav-item {
  padding: 10px;
}